@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */
/* .lilita {
  font-family: var(--font-lilita-one);
  font-weight: 400;
  /* font-style: italic; */


@layer base {
  :root {
    --radius: 0.5rem;
  }
}
